<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="symbol" type="CryptoTest.SymbolSection, CryptoTest"/>
    </configSections>
    <symbol SymbolList="BTCUSDT, ETHUSDT"/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="platform" value="BINC"/>
      <add key="time_span" value="1"/>
      <add key="number_of_intervals" value="3" />      
    </appSettings>    
</configuration>